Repository NextNodeSolutions/validation: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, better-sort-package-json, pnpm format

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["pnpm lint"],
	"package.json": ["better-sort-package-json"],
	"*": ["pnpm format"]
}

feat: suppress log output during test runs
  src/__tests__/patterns.spec.ts
  src/patterns/async.ts
Due: pnpm lint, pnpm format

refactor: reorganize test structure to top-level tests directory
  .lintstagedrc.json
  eslint.config.mjs
  src/patterns/async.ts
  tests/core.spec.ts
  tests/domain.spec.ts
  tests/logger.spec.ts
  tests/patterns.spec.ts
  tests/setup.ts
  tests/utils.spec.ts
  tsconfig.json
  vitest.config.ts
Due: pnpm lint, pnpm format

feat(core): add ArkType validation engine
  biome.json
  package.json
  pnpm-lock.yaml
  src/__tests__/core.spec.ts
  src/index.ts
  src/lib/core.ts
  src/lib/core/engine.ts
  src/lib/core/index.ts
  src/lib/core/types.ts
  src/lib/errors/codes.ts
  src/lib/errors/formatter.ts
  src/lib/errors/index.ts
  src/lib/errors/types.ts
  src/lib/index.ts
  src/types/index.ts
Due: pnpm lint, better-sort-package-json, pnpm format

feat(schemas): add pre-built validators
  .changeset/config.json
  .lintstagedrc.json
  src/__tests__/logger.spec.ts
  src/__tests__/utils.spec.ts
  src/lib/index.ts
  src/lib/schemas/auth.ts
  src/lib/schemas/common.ts
  src/lib/schemas/financial.ts
  src/lib/schemas/identity.ts
  src/lib/schemas/index.ts
  src/lib/schemas/network.ts
  src/utils/index.ts
  src/utils/logger.ts
  tsconfig.build.json
  tsconfig.json
Due: pnpm lint, pnpm format

feat(integrations): add React Hook Form resolver
  src/integrations/react-hook-form/index.ts
  src/integrations/react-hook-form/resolver.ts
  src/integrations/react-hook-form/types.ts
Due: pnpm lint, pnpm format

feat(integrations): add server middleware adapters
  src/integrations/index.ts
  src/integrations/middleware/core.ts
  src/integrations/middleware/express.ts
  src/integrations/middleware/fastify.ts
  src/integrations/middleware/hono.ts
  src/integrations/middleware/index.ts
  src/integrations/middleware/types.ts
Due: pnpm lint, pnpm format

feat: configure exports and package.json
  package.json
  src/index.ts
Due: pnpm lint, better-sort-package-json, pnpm format

test: add comprehensive tests for validation library
  src/__tests__/core.spec.ts
  src/__tests__/middleware.spec.ts
  src/__tests__/resolver.spec.ts
  src/__tests__/schemas.spec.ts
Due: pnpm lint, pnpm format

docs: update README and CLAUDE.md for validation library
  CLAUDE.md
  README.md
Due: pnpm format

test: silence logs during test execution
  .lintstagedrc.json
  package.json
  src/__tests__/setup.ts
  vitest.config.ts
Due: pnpm lint, better-sort-package-json, pnpm format

chore: clean up lint-staged config
  .lintstagedrc.json
Due: pnpm format

chore: migrate to @nextnode/standards and logger 0.3.0
  .lintstagedrc.json
  biome.json
  commitlint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/__tests__/core.spec.ts
  src/__tests__/logger.spec.ts
  src/__tests__/middleware.spec.ts
  src/__tests__/resolver.spec.ts
  src/__tests__/schemas.spec.ts
  src/__tests__/setup.ts
  src/__tests__/utils.spec.ts
  src/index.ts
  src/integrations/index.ts
  src/integrations/middleware/core.ts
  src/integrations/middleware/express.ts
  src/integrations/middleware/fastify.ts
  src/integrations/middleware/hono.ts
  src/integrations/middleware/index.ts
  src/integrations/middleware/types.ts
  src/integrations/react-hook-form/resolver.ts
  src/integrations/react-hook-form/types.ts
  src/lib/core/engine.ts
  src/lib/core/index.ts
  src/lib/errors/formatter.ts
  src/lib/errors/index.ts
  src/lib/index.ts
  src/lib/schemas/financial.ts
  src/lib/schemas/index.ts
Due: pnpm lint, better-sort-package-json, pnpm format

docs: update README and CLAUDE.md with complete API reference
  CLAUDE.md
  README.md
Due: pnpm format

refactor: clean up dead code, DRY violations, and type assertions
  src/__tests__/logger.spec.ts
  src/__tests__/utils.spec.ts
  src/integrations/middleware/core.ts
  src/integrations/middleware/index.ts
  src/integrations/react-hook-form/resolver.ts
  src/lib/core/guards.ts
  src/lib/core/index.ts
  src/lib/errors/formatter.ts
  src/lib/schemas/financial.ts
  src/lib/schemas/index.ts
  src/lib/schemas/network.ts
  src/utils/index.ts
  src/utils/logger.ts
Due: pnpm lint, pnpm format

fix: correct changeset repo from eslint-plugin to validation
  .changeset/config.json
Due: pnpm format

chore: streamline configs with @nextnode/standards
  .lintstagedrc.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: pnpm lint, better-sort-package-json, pnpm format

chore: apply prettier formatting
  .github/workflows/auto-publish.yml
  .github/workflows/changeset-check.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  CLAUDE.md
  README.md
  README_CHANGESETS.md
  pnpm-workspace.yaml
  src/lib/core/engine.ts
  src/lib/core/index.ts
Due: pnpm lint, pnpm format

fix(auth): collect all password validation errors instead of fail-fast
  src/__tests__/schemas.spec.ts
  src/lib/errors/formatter.ts
  src/lib/schemas/auth.ts
Due: pnpm lint, pnpm format

refactor(schemas): wrap all exports with v.schema() for normalized output
  src/__tests__/core.spec.ts
  src/__tests__/schemas.spec.ts
  src/integrations/react-hook-form/resolver.ts
  src/lib/core/engine.ts
  src/lib/core/types.ts
  src/lib/errors/formatter.ts
  src/lib/errors/index.ts
  src/lib/errors/types.ts
  src/lib/index.ts
  src/lib/schemas/auth.ts
  src/lib/schemas/common.ts
  src/lib/schemas/financial.ts
  src/lib/schemas/identity.ts
  src/lib/schemas/network.ts
Due: pnpm lint, pnpm format

fix(security): address HIGH and MEDIUM vulnerabilities
  package.json
  pnpm-lock.yaml
  src/__tests__/schemas.spec.ts
  src/integrations/middleware/hono.ts
  src/lib/schemas/auth.ts
Due: pnpm lint, better-sort-package-json, pnpm format

refactor(auth): split apiKey into schema and factory function
  src/__tests__/schemas.spec.ts
  src/lib/schemas/auth.ts
  src/lib/schemas/index.ts
Due: pnpm lint, pnpm format

docs: add complete exports reference and error codes tables
  CLAUDE.md
  README.md
Due: pnpm format

docs: add TanStack Form integration guide
  CLAUDE.md
  README.md
Due: pnpm format

refactor(logger): improve encapsulation and test reliability
  src/__tests__/logger.spec.ts
  src/utils/logger.ts
Due: pnpm lint, pnpm format

refactor(core): remove unused types and config options
  src/lib/core/index.ts
  src/lib/core/types.ts
Due: pnpm lint, pnpm format

refactor(errors): consolidate types and remove deprecated code
  src/lib/errors/formatter.ts
  src/lib/errors/index.ts
  src/lib/errors/types.ts
  src/lib/index.ts
Due: pnpm lint, pnpm format

refactor(schemas): reuse common schemas and improve consistency
  src/__tests__/schemas.spec.ts
  src/lib/schemas/auth.ts
  src/lib/schemas/financial.ts
  src/lib/schemas/identity.ts
  src/lib/schemas/network.ts
Due: pnpm lint, pnpm format

refactor(middleware): remove unused types and fix consistency
  src/integrations/middleware/hono.ts
  src/integrations/middleware/index.ts
  src/integrations/middleware/types.ts
Due: pnpm lint, pnpm format

chore(integrations): remove unused barrel file
  src/integrations/index.ts
Due: pnpm lint, pnpm format

chore(deps): update lockfile
  package.json
  pnpm-lock.yaml
Due: better-sort-package-json, pnpm format

refactor: security and code quality improvements
  CLAUDE.md
  src/integrations/middleware/core.ts
  src/integrations/middleware/index.ts
  src/integrations/middleware/types.ts
  src/integrations/react-hook-form/resolver.ts
  src/lib/errors/formatter.ts
  src/lib/errors/index.ts
  src/lib/errors/types.ts
  src/lib/schemas/common.ts
  src/lib/schemas/identity.ts
  src/lib/schemas/network.ts
Due: pnpm lint, pnpm format

chore: add major changeset for security improvements
  .changeset/security-code-quality.md
  README_CHANGESETS.md
Due: pnpm format

chore(ci): sync workflows from logger
  .github/workflows/auto-publish.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
Due: pnpm format

fix(deps): remove js-yaml override breaking changesets
  package.json
  pnpm-lock.yaml
Due: better-sort-package-json, pnpm format

feat(schemas): add safeWebhookUrl for SSRF protection
  src/lib/schemas/index.ts
  src/lib/schemas/network.ts
Due: pnpm lint, pnpm format

chore: add changeset for safeWebhookUrl
  .changeset/safe-webhook-url.md
Due: pnpm format

Revert "feat(schemas): add safeWebhookUrl for SSRF protection"
  .changeset/safe-webhook-url.md
  src/lib/schemas/index.ts
  src/lib/schemas/network.ts
Due: pnpm lint, pnpm format

perf: migrate to tsup for 60% bundle size reduction
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: pnpm lint, better-sort-package-json, pnpm format

chore: add changeset for bundle optimization
  .changeset/bundle-optimization.md
Due: pnpm format
